.container{
    display: grid;
    grid-template-rows: auto; /* Automatically adjust the height of the header */
    grid-template-columns: 300px 1fr 300px; /* Three columns, adjust as needed */
    gap: 10px; /* Adjust the gap between columns */
    padding: 20px;
    min-height: 100vh;
    height: auto
}

.header {
    /* grid-column: 1 ; Header spans across all columns */
    padding: 1px;
    text-align: center;
    font-size: 50px;
    font-family: Chakra Petch;
    font-weight: bold,;
    font-style: italic;
  }

    .column {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
  }
  
  .middleColumn {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
  
  }

body {
   background: linear-gradient(135deg, #bdbdbd 0%, #c3cfe2 100%);
    text-align: center;
    font-family: Chakra Petch;
  }

  .artist-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    gap: 20px; /* Add some space between grid items */
  }

  /* Style for grid items (optional) */
  .artist-grid-item {
    padding: 20px;
    border: 1px solid #ccc;
  }

